ExemploAsynchronous/nbproject/private/cache/retriever/127.0.0.1_8080/AsyncSharcnetImplService/AsyncSharcnetImpl.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://ewe.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ewe.org/">

<xs:element name="execSharcnet" type="tns:execSharcnet"></xs:element>

<xs:complexType name="execSharcnet">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg4" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg5" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg6" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg7" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>